@model EntityLayer.Concrete.Match


<div class="match-today-section world-cup-match">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="world-cup-match-title gallery">
                    <h1>Premier Leauge</h1>
                    <p><a href="#">@Model.Fixture.Week, @Model.Stadium.City</a></p>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="match-left d-flex align-items-center">
                    <div class="today-team-img teamsname">
                        <a href="#"><img src="@Model.HomeTeam.SignedUrl" width="55" height="53" alt=""></a>
                    </div>
                    <div class="today-team-name teamsname">
                        <h1>@Model.HomeTeam.Name</h1>
                        <p>@Model.HomeTeam.Coach.Name</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="team-vs-team">
                    <h1>@Model.HomeTeamGoals:@Model.AwayTeamGoals</h1>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="match-right d-flex align-items-center">
                    <div class="today-team-name teamsname text-right">
                        <h1>@Model.AwayTeam.Name</h1>
                        <p>@Model.AwayTeam.Coach.Name</p>
                    </div>
                    <div class="today-team-img teamsname">
                        <a href="#"><img src="@Model.AwayTeam.SignedUrl" width="55" height="53" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end of /. match today section -->
</div>