@model EntityLayer.Concrete.Team

@{
    Layout = null;
    int count = 0;
}

<!doctype html>
<html class="no-js" lang="en">
@await Component.InvokeAsync("_HeadPartial")

<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EnterScore</title>
    <link rel="shortcut icon" href="~/HTML/images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/HTML/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/HTML/images/apple-touch-icon-114x114.png">


    <link rel="stylesheet" type="text/css" href="~/HTML/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/HTML/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/HTML/css/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="~/HTML/css/owl.theme.css">
    <link rel="stylesheet" type="text/css" href="~/HTML/css/magnific-popup.css">


    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="~/HTML/css/style.css" />



    <script type="text/javascript" src="~/HTML/js/modernizr.min.js"></script>

</head>

<body>
    <!-- START PRELOADER -->
    <div id="preloader">
        <div id="loader-wrapper">
            <div class="loader1"></div>
        </div>
    </div>
    <!-- END OF /. PRELOADER -->

    <div class="wrapper">
        <!-- START HEADER TOP SECTION -->
        @await Component.InvokeAsync("_NavbarPartial")
        <!-- START PAGE TITILE SECTION -->
        <div class="player-profile-section page-title-section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="section-title profile-title">
                            <h1>@Model.Name</h1>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- END OF /. PAGE TITLE SECTION -->

        <div class="club-histry-feature-section">
            <div class="container">
                <div class="row">
                    <div class="inner-container">
                        <div class="col-sm-2">
                            <div class="club-histry-img">
                                <a href="#"><img class="~/sport_template-master/img-responsive" src="@Model.SignedUrl" width="169" height="169" alt=""></a>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="club-histry">
                                <h1>Club <b>History</b></h1>
                                @foreach (var item in ViewBag.lastMatches)
                                {
                                    <div class="match-container">
                                        <a href="/Result/Index/@item.MatchID">
                                            <span>
                                                @item.HomeTeam.Name @item.HomeTeamGoals-@item.AwayTeamGoals
                                                @item.AwayTeam.Name
                                            </span>
                                        </a>
                                        <span>@item.Fixture.Week. Hafta</span>
                                    </div>
                                    <hr class="match-separator"> <!-- Maçlar arasındaki ayırıcı -->
                                }
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="club-histry">
                                <h1>Main <b>Features</b></h1>
                            </div>
                            <div class="club-details">
                                <div class="club-name club-details-inner">
                                    <h1>@Model.Name</h1>
                                    <p>Football Club</p>
                                </div>
                                <div class="coach-name club-details-inner">
                                    <h1>Coach</h1>
                                    <p>@Model.Coach.Name</p>
                                </div>
                            </div>
                            <div class="club-details">
                                <div class="stadium-name club-details-inner">
                                    <h1>Arena / Stadium</h1>
                                    <p>@Model.Stadium.Name</p>
                                </div>
                                <div class="club-social club-details-inner">
                                    <h1>Social</h1>
                                    <ul>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                        <li><a href="#"><i class="fa fa-vk"></i></a></li>
                                        <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="club-play-histry">

            <div class="section singlepage">
                <div class="container">

                    <div class="row">

                        <div class="col-sm-12 col-md-12">

                            <div class="team-tab" data-example-id="togglable-tabs">

                                <div id="myTabContent" class="tab-content tab-team tab-team-bg">
                                    <div role="tabpanel" class="tab-pane fade in active" id="primary" aria-labelledBy="primary-tab">
                                        <div class="teams">
                                            <div class="nav-team" id="primary-nav">
                                                @foreach (var item in ViewBag.players)
                                                {
                                                    count++;
                                                    if (count == 1)
                                                    {

                                                        <div class="position active">
                                                            <a title=""><span class="@item.Player.Position.Name.ToLower()">@item.Player.Position.Name.ToUpper()</span> @count. @item.Player.Name</a>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="position">
                                                            <a title=""><span class="@item.Player.Position.Name.ToLower()">@item.Player.Position.Name.ToUpper()</span> @count. @item.Player.Name</a>
                                                        </div>
                                                    }

                                                }
                                            </div>
                                        </div>
                                        <div class="teams-caro">
                                            <div id="primary-team-caro" class="owl-carousel owl-theme">
                                                @foreach (var item in ViewBag.players)
                                                {
                                                    <div class="item">
                                                        <div class="teams-image">
                                                            <img src="@item.Player.SignedUrl" class="img-responsive" />
                                                        </div>
                                                        <div class="teams-description">
                                                            <p><span class="title">NATIONAL : </span>@item.Player.Nationality</p>
                                                            <p><span class="title">DATE OF BIRTH : </span>@item.Player.BirthDate</p>
                                                            <p><span class="title">HEIGHT : </span>@item.Player.Height cm</p>
                                                            <p><span class="title">WEIGHT : </span>@item.Player.Weight kg</p>
                                                            <p><span class="title">GOAL : </span>@item.GoalScore</p>
                                                            <p><span class="title">ASIST : </span>@item.AsistScore</p>
                                                            <p><span class="title">INFORMATION </span></p>
                                                            <p class="font-normal">@item.Player.Description</p>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        }

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        .match-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 5px; /* Azaltılan boşluk */
        }

            .match-container a {
                flex: 1;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

        .match-separator {
            border: none;
            border-top: 1px solid #ccc;
            margin: 4px 0; /* Alt çizgi boşluğu */
        }
    </style>


    <script src="~/sport_template-master/js/vendor/jquery-1.12.4.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/sport_template-master/js/vendor/bootstrap.min.js"></script>
    <!-- jQuery Ui -->
    <script src="~/sport_template-master/js/jquery-ui-min.js"></script>
    <!-- Owl -->
    <script src="~/sport_template-master/js/owl.carousel.min.js"></script>
    <!-- Downcount -->
    <script src="~/sport_template-master/js/jquery.downCount.js"></script>
    <!-- Bootsnav -->
    <script src="~/sport_template-master/js/bootsnav.js"></script>
    <!-- Isotope -->
    <script src="~/sport_template-master/js/isotope.pkgd.min.js"></script>
    <!-- prettyphoto -->
    <script src="~/sport_template-master/js/jquery.prettyPhoto.js"></script>
    <!-- tweetie -->
    <script src="~/sport_template-master/scripts/Tweetie/tweetie.min.js"></script>
    <!-- appear -->
    <script src="~/sport_template-master/js/jquery.appear.js"></script>
    <!-- waypoint -->
    <script src="~/sport_template-master/js/waypoints.min.js"></script>
    <!-- progress bar -->
    <script src="~/sport_template-master/js/jQuery-plugin-progressbar.js"></script>
    <!-- custom -->
    <script src="~/sport_template-master/js/custom.js"></script>

    <script type="text/javascript" src="~/HTML/js/jquery.min.js"></script>
    <script type='text/javascript' src='https://maps.google.com/maps/api/js?sensor=false&#038;ver=4.1.5'></script>
    <script type='text/javascript' src='~/HTML/js/jqBootstrapValidation.js'></script>
    <script type="text/javascript" src="~/HTML/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/HTML/js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="~/HTML/js/bootstrap-hover-dropdown.min.js"></script>
    <script type="text/javascript" src="~/HTML/js/jquery.magnific-popup.min.js"></script>

    <script type="text/javascript" src="~/HTML/js/script.js"></script>

</body>
</html>