@model IEnumerable<EntityLayer.Concrete.Team>

<div class="point-table-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="point-table-area">
                    <div class="point-title-area">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th width="20%" scope="row">Group A</th>
                                    <th width="10%" class="text-center">Playered</th>
                                    <th width="10%" class="text-center">Won</th>
                                    <th width="10%" class="text-center">Draw</th>
                                    <th width="10%" class="text-center">Lost</th>
                                    <th width="10%" class="text-center">For</th>
                                    <th width="10%" class="text-center">Against</th>
                                    <th width="10%" class="text-center">Goal dif.</th>
                                    <th width="10%" class="text-center">Points</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="point-items">
                        <table class="table table-striped-inverse point-table">
                            <tbody>
                                @foreach (var team in Model)
                                {
                                    var statistics = team.Statistics.FirstOrDefault(s => s.TeamID == team.TeamID);
                                    if (statistics != null)
                                    {
                                        <tr>
                                            <th data-th="Group A" width="20%" scope="row">
                                                <img style="width:60px; height:60px" src="@team.SignedUrl" />
                                                <span>@team.Name</span>
                                            </th>
                                            <td data-th="Playered" width="10%" class="text-center">@statistics.PlayedCount</td>
                                            <td data-th="Won" width="10%" class="text-center">@statistics.WinCount</td>
                                            <td data-th="Draw" width="10%" class="text-center">@statistics.DrawCount</td>
                                            <td data-th="Lost" width="10%" class="text-center">@statistics.LoseCount</td>
                                            <td data-th="For" width="10%" class="text-center">@statistics.GoalsFor</td>
                                            <td data-th="Against" width="10%" class="text-center">@statistics.GoalsAgainst</td>
                                            <td data-th="Goal dif." width="10%" class="text-center">@statistics.Average</td>
                                            <td data-th="Points" width="10%" class="text-center">@statistics.Points</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
