@model List<EntityLayer.Concrete.Player>

<div class="player-carear-details">
    <div class="container">
        @foreach (var item in Model)
        {
                 <div class="row">
            <div class="col-sm-4">
                <div class="profile-images-match">
                        <a href="#"><img class="img-responsive" src="@item.SignedUrl" width="370" height="370" alt=""></a>
                    <div class="profile-details">
                        <div class="profile-pic profile-details-inner">
                            <a href="#"><img class="img-responsive" src="" width="64" height="84" alt=""></a>
                        </div>
                        <div class="carryer-match profile-details-inner">
                            <h2>@item.Name</h2>
                            <p>Oyuncu Numarası: @item.Number</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="player-carryer-total-des">
                    <h1 id="profile-title"><b>@item.Name</b> <span>#@item.Number</span></h1>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="player-description">
                                <p>@item.Description</p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="player-other-desc-inner">
                                <div class="player-desc-1">
                                    <div class="player-other-desc">
                                        <h1>@item.Nationality</h1>
                                        <p>Football Club</p>
                                    </div>
                                    <div class="player-other-desc">
                                        <h1>Date of Birth</h1>
                                        <p>@item.BirthDate.ToString("dd MMM, yyyy")</p>
                                    </div>
                                    <div class="player-other-desc">
                                        <h1>Height & Weight</h1>
                                        <p>@item.Height cm, @item.Weight kg</p>
                                    </div>
                                </div>

                                <div class="player-desc-1">
                                    <div class="player-other-desc">
                                        <h1>Full Name</h1>
                                        <p>@item.Name</p>
                                    </div>
                                    <div class="player-other-desc">
                                        <h1>Nationality</h1>
                                        <p>@item.Nationality</p>
                                    </div>
                                    <div class="player-other-desc">
                                        <h1>Social</h1>
                                        <ul>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                            <li><a href="#"><i class="fa fa-vk"></i></a></li>
                                            <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        }
   
    </div>
</div>
