@model List<EntityLayer.Concrete.Match>

@*

<div class="fixture-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="world-cup">
                    <h1>World Cup</h1>
                </div>
            </div>
        </div>
        <div class="row inner-custom-row">
            <div class="col-md-12">

                @for (int week = 1; week <= Model.Max(m => m.Fixture.Week); week++)
                {
                    <div class="current-week">
                        <h2>Week @week</h2>
                    </div>
                    <div class="matches-for-current-week">
                        @foreach (var match in Model.Where(m => m.Fixture.Week == week))
                        {
                            <div class="row">
                                <div class="white-match">
                                    <div class="col-md-4">
                                        <div class="match-left">
                                            <div class="fixture-team-img">
                                                <a href="#"><img src="@match.HomeTeam.ImageUrl" width="80" height="77" alt=""></a>
                                            </div>
                                            <div class="fixture-team-name fixture-team-left">
                                                <h1>@match.HomeTeam.Name</h1>
                                                <p>@match.MatchID</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="fixture-team-date">
                                            <h1>@match.HomeTeamGoals - @match.AwayTeamGoals</h1>
                                            <p>@match.Stadium</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="match-right">
                                            <div class="fixture-team-name fixture-team-right text-right">
                                                <h1>@match.AwayTeam.Name</h1>
                                                <!-- @match. kısmına ekstra bir özellik eklemeyi unutmuşum, burayı düzeltebilirsiniz. -->
                                            </div>
                                            <div class="fixture-team-img">
                                                <a href="#"><img src="@match.AwayTeam.ImageUrl" width="80" height="77" alt=""></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="prev-and-next-sec">
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <div class="prev-and-next-btn-section prev-and-next-btn-section1">
                    <div class="prev-and-next-btn">

                        var fixtures= Fix
                        @if (Model.Any() && Model.Max(m => m.Fixture.Week) > 1)
                        {

                            <a href="/Fixture/PreviousWeek">Prev <i class="fa fa-angle-left" aria-hidden="true"></i></a>
                        }
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="prev-and-next-btn-section">
                    <div class="prev-and-next-btn">
                        <!-- "Next" butonu her tıklamada mevcut hafta numarasını artırarak, bir sonraki haftaya geçişi sağlar -->
                        <a href="/Fixture/NextWeek">Next <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@